<section class="boxBook">
    <div id="contentBook">
        <h1 id="bookTitle">{{ book.title }}</h1>
        <p id="bookAuthor">Ecrit par {{ book.author }}</p>
        <p id="bookPublish">{{ book.publishedAt }}</p>
        <div class="divImg">
            <img id="bookImg" src="{{ book.image }}" alt="{{ book.title }}">
        </div>
    </div>
</section>