{% extends "base.html.twig" %}
{% block main %}

    <section class="boxBook">

        {% for book in books %}

            <div id="contentBook">
                <h1 id="bookTitle">{{ book.title }}</h1>
                <p id="bookAuthor">Ecrit par {{ book.author }}</p>
                <p id="bookPublish">Publié le {{ book.publishedAt | date('d/m/y')}}</p>
                <a class="lien" href="{{ path('book', {'id': book.id}) }}"><img id="bookImg" src="{{ book.image }}" alt="{{ book.title }}"></a>
            </div>

        {% endfor %}
    </section>

{% endblock main %}